.waveContainer {
  width: 100%;
  height: 15vh; /* Ocupa el 15% de la altura de la pantalla */
  min-height: 100px; /* Altura mínima */
  max-height: 200px; /* Altura máxima */
  overflow: hidden;
  position: relative;
  }
  
  .emailSignupWave {
    position: absolute;
    bottom: 0; /* Asegura que la línea esté en la parte inferior */
    left: 0;
    width: 100%;
    height: 100%;
    animation: waveAnimation 5s ease-in-out infinite alternate;
  }
  
  @keyframes waveAnimation {
    0% {
      transform:  translateY(0);
    }
   
    50% {
      transform: translateY(-20px); /* Mueve la ola hacia la izquierda y arriba */
    }
    100% {
      transform:  translateY(0); /* Mueve la ola más a la izquierda */
    }
  }